snippet rclass
import React from 'react'

class $1 extends React.Component{
	constructor(){
		super()
		this.state = {}
	}
	render() {
	return (
		<div>
			
		</div>	
	)
	}
}

export default $1
endsnippet

snippet rfunc
import React from 'react'

const $1 = () => {
	return (
		<div>
			
		</div>
	)
}

export default $1
endsnippet

snippet arrf
const $1 = () => {
	$2
}
endsnippet
