/* // NO NAV BAR AND TITLE BAR // */
 
#nav-bar {
	position: relative;
	z-index: 1;
	max-height: 0.5px;
	margin-top: 0px;
	opacity: 0;
	overflow: hidden;
}

#nav-bar:focus-within {
	max-height: 100px; /* must be somewhat larger than actual bar height */
	opacity: 1;
	overflow: inherit;
}


:root {
  --tab-min-height: 2rem !important;
}

toolbar {
  appearance: auto;
  -moz-default-appearance: toolbar;
  min-width: 1px;
  min-height: 1px !important;
}

.tab-label-container {
  height: var(--tab-min-height);
}

.tab-label {
  line-height: var(--tab-min-height) !important;
}

.tab-icon-image {
  margin-top: 2px !important;
}

.tab-icon-image,
.tab-icon-sound,
.tab-close-button {
  height: 1em !important;
  width: 1em !important;
}

.tabbrowser-tab:first-child{ counter-reset: nth-tab 0 } /* Change to -1 for 0-indexing */
.tabbrowser-tab[fadein]{ max-width: 100vw !important }
.tab-text::before{ content: counter(nth-tab) ": "; counter-increment: nth-tab }

/* Close, minizime and maximize window buttons */
.titlebar-buttonbox-container { display: none; }

/* Empty space before and after the tab bar */
.titlebar-spacer { display: none; }

/* New tab button */
#tabs-newtab-button { display: none; }

/* Scroll left button when the tabs overflow the tab bar */
#scrollbutton-up { display: none; }

/* Scroll right button when the tabs overflow the tab bar */
#scrollbutton-down { display: none; }

/* New tab button when the tabs overflow the tab bar */
#new-tab-button { display: none; }

/* List all tabs button when the tabs overflow the tab bar */
#alltabs-button { display: none; }

/* Private window icon at the end of the tab bar */
.private-browsing-indicator { display: none; }

.tabbrowser-tab .tab-close-button{
  display:none;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button{
  display:-moz-box !important;
}

.tab-line {
  height: 0px;
}

/* ONE LINER */

/* Remove title bar buttons

.titlebar-buttonbox-container {
	display: none;
}

.titlebar-spacer[type="pre-tabs"] {
	display: none;
}

/* Tab bar 
#navigator-toolbox {
	border: 0px !important;
}

#TabsToolbar {
	margin-top: -1px !important;
	margin-bottom: 1px !important;
	margin-left: 25vw !important;
	max-height: 32px !important;
}

.tabbrowser-arrowscrollbox {
	height: 32px !important;
	min-height: 32px !important;
}

.titlebar-placeholder[type="pre-tabs"] {
	display: none !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after {
	border-left: none !important;
}

.tab-line {
	display: none !important;
}

:root {
	--toolbox-border-bottom-color: transparent !important;
}

/* Nav bar 
#nav-bar {
	background: transparent !important;
	margin-top: -32px !important;
	margin-bottom: -1px !important;
	margin-right: 75vw !important;
	height: 32px !important;
}

/* URL bar 
#urlbar-container {
	min-width: 100px !important;
}

#urlbar {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

#page-action-buttons {
	display: none !important;
}

/* Tab bar 
#navigator-toolbox {
	border: 0px !important;
}

#TabsToolbar {
	margin-top: -1px !important;
	margin-bottom: 1px !important;
	margin-left: 25vw !important;
	max-height: 32px !important;
}

.tabbrowser-arrowscrollbox {
	height: 32px !important;
	min-height: 32px !important;
}

.titlebar-placeholder[type="pre-tabs"] {
	display: none !important;
}

.tabbrowser-tab::before,
.tabbrowser-tab::after {
	border-left: none !important;
}

.tab-line {
	display: none !important;
}

:root {
	--toolbox-border-bottom-color: transparent !important;
}

/* Nav bar 
#nav-bar {
	background: transparent !important;
	margin-top: -32px !important;
	margin-bottom: -1px !important;
	margin-right: 75vw !important;
	height: 32px !important;
}

/* URL bar 
#urlbar-container {
	min-width: 100px !important;
}

#urlbar {
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}

#page-action-buttons {
	display: none !important;
}

#urlbar[breakout-extend] {
	top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
	left: calc((var(--urlbar-toolbar-width) - var(--urlbar-width)) / 2) !important;
	width: 100% !important;
}

#urlbar[breakout-extend] #urlbar-input-container {
	height: calc(var(--tab-min-height) - 3px) !important;
	padding: 0px !important;
}

.urlbarView {
	margin: 0px !important;
	width: 100% !important;
}

.urlbarView-row {
	padding: 0px !important;
}

